/* You can add global styles to this file, and also import other style files */
body {

}

html,
body {
  height: 100%;
}

html {
  font-size: 1em;
}

body {
  font-family: 'avenir', Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.2;
  color: #4a4a4b;
  cursor: default;
  box-sizing: border-box;
}

.title-section,
.doom-container,
.nuked-container {
  text-align: center;
}

.cloud-image {
  width: 300px;
}

.nuke-image {
  width: 150px;
}

.doom-container {
 margin-bottom: 1rem;
}

.doom-container h2 {
  margin: 0.5rem;
}

.nuke-button {
  background: #e02626;
  background-image: -webkit-linear-gradient(top, #e02626, #b01a1a);
  background-image: -moz-linear-gradient(top, #e02626, #b01a1a);
  background-image: -ms-linear-gradient(top, #e02626, #b01a1a);
  background-image: -o-linear-gradient(top, #e02626, #b01a1a);
  background-image: linear-gradient(to bottom, #e02626, #b01a1a);
  border: 0;
  height: 90px;
  width: 90px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #f0f0f0;
  font-size: 1.5rem;
  text-decoration: none;
  text-shadow: 1px 1px 1px #e6e6e6;
  outline: 0;
}

.nuke-button:hover {
  text-decoration: none;
}

.nuke-button:active {
  text-decoration: none;
  background: #e02626;
  background-image: -webkit-linear-gradient(bottom, #e02626, #b01a1a);
  background-image: -moz-linear-gradient(bottom, #e02626, #b01a1a);
  background-image: -ms-linear-gradient(bottom, #e02626, #b01a1a);
  background-image: -o-linear-gradient(bottom, #e02626, #b01a1a);
  background-image: linear-gradient(to top, #e02626, #b01a1a);
}
